body{
  font-family: arial, sans-serif;
  color : $text-color;

}

strong{
  //color : $heavy-color;
}
h3{
  font-family: "Bookman", Georgia, "Times New Roman", serif;
  font-style: italic;
}

.tonic{
  color :$tonic;
}

.clear{
  clear: both;
}
@include both{
  .right{
    float : right;
  }
  .left{
    float: left;
  }
}

.error{
  background-color: #aa0000;
  color: white;
  padding: 5px;
  display: block;
  margin: 25px 0 0 0;
  text-align: center;
}

.fixie{
  position: fixed;
  width: 100%;
  z-index: 666;
  background: white;
  top: 0;
  height: 80px;
  padding-top: 26px;
}

.images img{
  max-width: 100%;
}